*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Slab', serif;
}
header{
    width: 100%; height: 100vh;
    background-image: linear-gradient(to right, rgba(0,0,0,0.2),
    rgba(0,0,0,0.7)), url('jaipur.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    width: 100%;
    height: 15vh;
    background: rgba(0,0,0,0.40);
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}
nav .logo{
    width: 25%;
    text-align: center;
}
nav .menu{
    width: 40%;
    display: flex;
    justify-content: space-around;
}
nav .menu a{
    width: 25%;
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
}
nav .menu a:first-child{
    color: #99C4C8;
}
main{
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    text-align: center;
}
section h3{
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;
}
section h1{
    margin: 30px 0 20px 0;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 1px 1px 2px black;
}
section p{
    font-size: 25px;
    margin-bottom: 25px;
    word-spacing: 2px;
    text-shadow: 1px 1px 1px black;
    font-weight: 600;
}
section a{
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 900;
    text-decoration: none;
    letter-spacing: 1px;
    color: aliceblue;
    transition: all .5s ease;
}
section .btn1{
    background-color: antiquewhite;
    color: black;
}
.btn1:hover{
    background-color: #99C4C8;
    color: aliceblue;
}
section .btn2{
    background-color: #99C4C8;
}
.btn2:hover{
    background-color: antiquewhite;
    color: black;
}
.change_contain:after{
    content: ' ';
    /*animation: change 5s infinite ease;*/
    animation: changetext 15s infinite linear;
    color: #99C4C8;
}
@keyframes changetext{
    0%{content: " Darjeeling";}
    16%{content: " Jaipur";}
    32%{content: " Delhi";}
    48%{content: " Kerala";}
    64%{content: " Goa";}
    80%{content: " Mumbai";}
    100%{content: " Puri";}
}
@keyframes change {
    0%{
        background: url(darjeeling.jpg);
    }
    16%{
        background-image: url(jaipur.jpg);
    }
    32%{
        background-image: url(delhi.jpg);
    }
    48%{
        background-image: url(kerala.jpg);
    }
    64%{
        background: url(goa.jpg);
    }
    80%{
        background: url(mumbai.jpg);
    }
    100%{
        background-image: url(puri.jpg);
    }
}